.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact-button i {
    margin-right: 10px;
}

.contact-button:hover {
    background-color: #20b351;
}
